<template>
  <!-- eslint-disable -->
  <TabsLayout>
    <div class="container">
      <h2>Dispositivos</h2>
      <a href="#/anyadir-dispositivo"><UiButton><p>Añadir Dispositivo</p></UiButton></a>
      <br/>
      <ViuDatagrid api-driven :columns="columns" endpoint="/api/dispositivos" :per-page="10" ref = "datos">
        <template v-slot:td="{ cell, row }">
          <span v-if="cell.accesor === 'editar'"><a :href="'#/editar-dispositivo/' + row.data.id"> <i class="fas fa-edit"></i></span>
          <span v-else-if="cell.accesor === 'eliminar'"><button @click="muestraModal(row.data.id)"><i class="fas fa-trash-alt"></i></button></span>
          <span v-else>{{ cell.value }}</span>
        </template>
      </ViuDatagrid>
      <div v-if="borrado == true">
          <ViuAlert status="success">Dispositivo eliminado correctamente</ViuAlert>
      </div>
        <div v-show="this.mostrar == true">
          <ViuModal title="Eliminar dispositivo" @close="ocultaModal()">¿Esta seguro de eliminar el dispositivo?
            <div class="botones">
              <ViuButton fill="solid" size="medium" @click="eliminar(id)">
                <template #text>Eliminar</template>
              </ViuButton>
              <ViuButton fill="solid" size="medium" @click="ocultaModal()">
                <template #text>Cancelar</template>
              </ViuButton>
            </div>
          </ViuModal>
        </div>
    </div>
  </TabsLayout>
</template>

<script>
import * as api from '$network/api.js';
import ViuDatagrid from 'viu/components/viu-datagrid/viu-datagrid.vue';
import TabsLayout from '$components/ui/tabs-layout.vue';
import pageMixin from '$mixins/page-mixin.js';
import ViuInput from 'viu/components/viu-input/viu-input.vue';
import ViuBox from 'viu/components/viu-box/viu-box.vue';
import ViuAlert from 'viu/components/viu-alert/viu-alert.vue';
import UiButton from '$components/ui/button.vue';
import ViuModal from 'viu/components/viu-modal/viu-modal.vue';
import ViuButton from 'viu/components/viu-button/viu-button.vue';

const columns = [
  { header: 'ID', accesor: 'id' },
  { header: 'Nombre', accesor: 'nombre' },
  { header: 'Tipo', accesor: 'tipo' },
  { header: 'Usuario', accesor: 'userId' },
  { header: 'Editar', accesor: 'editar' },
  { header: 'Eliminar', accesor: 'eliminar' }
];

const data = [
  {
    columns
  }
];

export default {
  name: 'ListarDispositivo',
  components: {
    TabsLayout,
    ViuDatagrid,
    ViuBox,
    UiButton,
    ViuInput,
    ViuAlert,
    ViuModal,
    ViuButton
  },
  mixins: [pageMixin],
  data: () => ({
    columns,
    borrado: false,
    mostrar: false,
    id: ''
  }),
  methods: {
    async muestraModal(id) {
      this.mostrar = true;
      this.id = id;
    },

    async ocultaModal() {
      this.mostrar = false;
    },

    async eliminar(id) {
      await api.BorrarDispositivo(id);
      this.borrado = true;
      this.$refs.datos.fetchData();
      this.ocultaModal();
    }
  }
};
</script>
<style lang="scss">
.container {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 90vh;

  .botones {
    margin-top: 7px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  .table {
    text-align: center;
  }
}
</style>
