<template>
  <div class="container">
    Nombre: <input class="form-control" type="text" id="nombre" value="" /><br />
    Tipo <input class="form-control" type="text" id="tipo" value="" /><br />
    ID Usuario: <input class="form-control" type="text" id="id_usuario" value="" /><br />

    <button class="btn btn-primary" v-on:click="guardarCambiosAnyadidos()">Guardar Cambios</button>
  </div>
</template>

<script>
export default {
  props: ['estado'],
  data() {
    return {};
  },
  methods: {
    async guardarCambiosAnyadidos() {
      var nombre = document.getElementById('nombre').value;
      var tipo = document.getElementById('tipo').value;
      var id_usuario = document.getElementById('id_usuario').value;
      await axios.post(
        'api/usuarios?nombre=' + nombre + '&tipo=' + tipo + '&id_usuario=' + id_usuario
      );
      this.$emit('mostrarEstado', 'listar');
    }
  }
};
</script>