<template>
  <main>
    <button class="btn btn-primary" v-on:click="cambiarEstado()">AÑADIR DISPOSITIVO</button>

    <table class="table table-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>ID Usuario</th>
      </tr>
      <tr v-for="dispositivo in dispositivos">
        <td>{{ dispositivo.id }}</td>
        <td>{{ dispositivo.nombre }}</td>
        <td>{{ dispositivo.tipo }}</td>
        <td>{{ dispositivo.user_id }}</td>
        <td>
          <button class="btn btn-primary" v-on:click="estadoModificar(dispositivo.id)">
            Modificar
          </button>
        </td>
        <td>
          <button class="btn btn-danger" v-on:click="eliminar(dispositivo.id)">Eliminar</button>
        </td>
      </tr>
    </table>
  </main>
</template>

<script>
export default {
  props: ['estado'],
  async mounted() {
    const respuesta = await axios.get('api/dispositivos');
    this.dispositivos = respuesta.data.dispositivos;
    console.log(respuesta);
  },
  data() {
    return {
      dispositivos: [],
      mostrarListar: true
    };
  },
  methods: {
    async cambiarEstado() {
      this.$emit('mostrarEstado', 'anyadir');
    },
    async estadoModificar(id) {
      const dispositivo = this.dispositivos.find(usu => usu.id === id);
      this.dispositivos = this.dispositivos.filter(usu => usu == dispositivo);
      this.$emit('mostrarEstado', 'modificar');
      this.$emit('dispositivo', this.dispositivos);
    },

    async eliminar(id) {
      const dispositivo = this.dispositivos.find(usu => usu.id === id);
      this.dispositivos = this.dispositivos.filter(usu => usu !== dispositivo);
      await axios.delete('api/dispositivos/' + id);
    }
  }
};
</script>