<template>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <template v-for="dispositivo in dispositivos">
        <div>
          <div class="form-group">
            <label for="id">ID:</label>
            <input
              type="text"
              class="form-control"
              id="id"
              name="id"
              :value="dispositivo.id"
              readonly
            />
          </div>

          <div class="form-group">
            <label for="name">Nombre:</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              :value="dispositivo.nombre"
            />
          </div>

          <div class="form-group">
            <label for="tipo">Tipo:</label>
            <input
              type="text"
              class="form-control"
              id="tipo"
              name="tipo"
              :value="dispositivo.tipo"
            />
          </div>

          <div class="form-group">
            <label for="user_id">ID Usuario:</label>
            <input
              type="text"
              class="form-control"
              id="user_id"
              name="user_id"
              :value="dispositivo.user_id"
              readonly
            />
          </div>
          <button v-on:click="guardarDatos(dispositivo.id)" class="btn btn-primary">
            Guardar datos
          </button>
        </div>
      </template>
    </div>
  </div>
</template>


<script>
export default {
  props: ['dispositivos'],
  data() {
    return {
      accion: 'mostrar'
    };
  },

  methods: {
    async guardarDatos(id) {
      var nombre = document.getElementById('nombre').value;
      var tipo = document.getElementById('tipo').value;
      await axios.put(
        'api/dispositivos/' + id + '?nombre=' + nombre + '&tipo=' + tipo + '&user_id=' + user_id
      );

      this.$emit('mostrarEstado', 'listar');
    }
  }
};
</script>