<template>
  <!-- eslint-disable -->
  <TabsLayout>
    <div class="container">
      <h2>Añadir Propiedad</h2>
      <div class="form">
        <InputText v-model="nombre" placeholder="Nombre"></InputText>
        <InputText v-model="propiedad" placeholder="Propiedad"></InputText>
        <UiButton @click.native="guardarPropiedad()">Guardar Propiedad</UiButton>
      </div>
      <div v-if="this.anyadido == true">
        <ViuAlert status="success">Propiedad añadida correctamente</ViuAlert>
      </div>
    </div>
  </TabsLayout>
</template>

<script>
import * as api from '$network/api.js';
import TabsLayout from '$components/ui/tabs-layout.vue';
import InputText from '$components/ui/input-text.vue';
import UiButton from '$components/ui/button.vue';
import pageMixin from '$mixins/page-mixin.js';
import ViuAlert from 'viu/components/viu-alert/viu-alert.vue';

export default {
  name: 'AnyadirPropiedad',
  components: {
    TabsLayout,
    InputText,
    UiButton,
    ViuAlert
  },
  mixins: [pageMixin],
  data: () => ({
    nombre: '',
    propiedad: '',
    anyadido: false,
    dispositivoId: ''
  }),
  async mounted() {
    this.dispositivoId = this.$route.params.id;
  },
  methods: {
    async guardarPropiedad() {
      const { nombre, propiedad, dispositivoId } = this;
      await api.AnyadirPropiedad({ nombre, propiedad, dispositivoId });
      this.anyadido = true;
    }
  }
};
</script>

<style lang="scss">
.container {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 100vh;

  .form {
    width: 370px;
  }

  .viu-alert {
    margin-top: 10px;
  }

  .form {
    .input-text,
    .ui-button {
      width: 100%;

      &.input-text {
        margin-bottom: 16px;
      }
    }
  }
}
</style>
