<template>
  <!-- eslint-disable -->
  <TabsLayout>
    <div class="container">
      <h2 class="titulo">Editar Dispositivo</h2>
      <div class="contenedor1">
        <template>
          <div class="form">
            <div class="input">
              <p>Nombre:</p>
              <InputText v-model="dispositivos.nombre"></InputText>
            </div>
            <div class="input">
              <p>Tipo:</p>
              <InputText v-model="dispositivos.tipo"></InputText>
            </div>
            <div class="input">
              <p>IDUsuario:</p>
              <p class="parrafo">{{ dispositivos.userId }}</p>
              <ViuSelect v-model="dispositivos.userId" :options="usuariosSelect"></ViuSelect>
            </div>

            <UiButton @click.native="guardarDatos(dispositivos.id)">Guardar datos</UiButton>
          </div>
        </template>
      </div>
      <div class="contenedor2">
        <div v-if="propiedades != null">
          <h2 class="titulo">Propiedades del dispositivo</h2>
          <div class="form">
            <table class="table" border="1">
              <tbody>
                <tr>
                  <th>Nombre</th>
                  <th>Propiedad</th>
                  <th>Editar</th>
                  <th>Eliminar</th>
                </tr>
                <tr v-for="propiedad in propiedades">
                  <td>{{ propiedad.nombre }}</td>
                  <td>{{ propiedad.propiedad }}</td>
                  <td>
                    <a :href="'#/editar-propiedad/' + propiedad.id"><UiButton>Editar</UiButton></a>
                  </td>
                  <td>
                    <UiButton @click.native="eliminarPropiedad(propiedad.id)">Eliminar</UiButton>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div v-else>
          <h3 class="titulo">Dispositivo sin propiedades</h3>
        </div>
        <div class="form">
          <a :href="'#/anyadir-propiedad/' + dispositivos.id"
            ><UiButton>Añadir propiedad</UiButton></a
          >
        </div>
        <div v-if="this.anyadido == true">
          <ViuAlert status="success">Dipositivo editado correctamente</ViuAlert>
        </div>
        <div v-if="this.borrado == true">
          <ViuAlert status="success">Propiedad eliminada correctamente</ViuAlert>
        </div>
      </div>
    </div>
  </TabsLayout>
</template>

<script>
import * as api from '$network/api.js';
import TabsLayout from '$components/ui/tabs-layout.vue';
import InputText from '$components/ui/input-text.vue';
import ViuSelect from 'viu/components/viu-select/viu-select.vue';
import ViuAlert from 'viu/components/viu-alert/viu-alert.vue';
import UiButton from '$components/ui/button.vue';
import pageMixin from '$mixins/page-mixin.js';

export default {
  name: 'EditarDispositivo',
  components: {
    TabsLayout,
    InputText,
    UiButton,
    ViuSelect,
    ViuAlert
  },
  mixins: [pageMixin],
  data() {
    return {
      dispositivos: [],
      propiedades: [],
      usuarios: [],
      usuariosSelect: [],
      anyadido: false,
      borrado: false
    };
  },
  async mounted() {
    const respuestaUsuarios = await api.ListarUsuariosSelect();
    this.usuarios = respuestaUsuarios.data;

    for (var usuario in this.usuarios) {
      this.usuariosSelect.push({ value: usuario, text: usuario + ' - ' + this.usuarios[usuario] });
    }

    const respuesta = await api.ListarDispositivo(this.$route.params.id);
    this.dispositivos = respuesta.data.content;

    const respuesta2 = await api.ListarPropiedades(this.$route.params.id);
    this.propiedades = respuesta2.data.content;
  },
  methods: {
    async guardarDatos() {
      const nombre = this.dispositivos.nombre;
      const tipo = this.dispositivos.tipo;
      const userId = this.dispositivos.userId;
      await api.EditarDispositivo({ nombre, tipo, userId }, this.$route.params.id);
      this.anyadido = true;
    },

    async eliminarPropiedad(id) {
      const propiedad = this.propiedades.find(dispositivo => dispositivo.id === id);
      this.propiedades = this.propiedades.filter(dispositivo => dispositivo !== propiedad);
      await api.BorrarPropiedad(id);
      this.borrado = true;
      location.reload();
    }
  }
};
</script>
<style lang="scss">
.container {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 100vh;

  .form {
    width: 370px;
  }

  .parrafo {
    margin-right: 10px;
    margin-left: 5px;
  }

  .viu-alert {
    margin-top: 10px;
  }

  .input {
    align-items: center;
    display: flex;
    flex-flow: row;
  }

  .table,
  .titulo {
    text-align: center;
  }
  .selected-area {
    color: black;
  }

  .form {
    .input-text,
    .ui-button {
      width: 100%;
      margin-top: 10px;

      &.input-text {
        margin-bottom: 16px;
      }
    }
  }
}
</style>
