<template>
  <!-- eslint-disable -->
  <TabsLayout>
    <div class="container">
      <h2>Añadir Dispositivo</h2>
      <div class="form">
        <InputText v-model="nombre" placeholder="Nombre"></InputText>
        <InputText v-model="tipo" placeholder="Tipo"></InputText>
        <ViuSelect
          v-model="userId"
          placeholder="Selecciona usuario"
          :options="usuariosSelect"
        ></ViuSelect>
        <UiButton @click.native="guardarDipositivo()">Añadir Dispositivo</UiButton>
      </div>
      <div v-if="this.anyadido == true">
        <ViuAlert status="success">Dipositivo añadido correctamente</ViuAlert>
      </div>
    </div>
  </TabsLayout>
</template>

<script>
import * as api from '$network/api.js';
import TabsLayout from '$components/ui/tabs-layout.vue';
import InputText from '$components/ui/input-text.vue';
import UiButton from '$components/ui/button.vue';
import pageMixin from '$mixins/page-mixin.js';
import ViuAlert from 'viu/components/viu-alert/viu-alert.vue';
import ViuSelect from 'viu/components/viu-select/viu-select.vue';

export default {
  name: 'AnyadirDispositivo',
  components: {
    TabsLayout,
    InputText,
    UiButton,
    ViuAlert,
    ViuSelect
  },
  data: () => ({
    nombre: '',
    tipo: '',
    userId: '',
    anyadido: false,
    usuarios: [],
    usuariosSelect: []
  }),
  mixins: [pageMixin],
  async mounted() {
    const respuestaUsuarios = await api.ListarUsuariosSelect();
    this.usuarios = respuestaUsuarios.data;

    for (var usuario in this.usuarios) {
      this.usuariosSelect.push({ value: usuario, text: usuario + ' - ' + this.usuarios[usuario] });
    }
  },
  methods: {
    async guardarDipositivo() {
      const { nombre, tipo, userId } = this;
      await api.AnyadirDispositivo({ nombre, tipo, userId });
      this.anyadido = true;
    }
  }
};
</script>

<style lang="scss">
.container {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 100vh;

  .form {
    width: 370px;
  }

  .viu-alert {
    margin-top: 10px;
  }
  .viu-select {
    margin-bottom: 10px;
  }

  .selected-area {
    color: black;
  }

  .form {
    .input-text,
    .ui-button {
      width: 100%;

      &.input-text {
        margin-bottom: 16px;
      }
    }
  }
}
</style>
