<template>
  <!-- eslint-disable -->
  <TabsLayout>
    <div class="container">
      <h2>Usuarios</h2>
      <a href="#/anyadir-usuario"><UiButton><p>Añadir Usuario</p></UiButton></a>
      <br/>
      <ViuDatagrid api-driven :columns="columns" endpoint="/api/usuarios" :per-page="10" ref = "datos">
        <template v-slot:td="{ cell, row }">
          <span v-if="cell.accesor === 'editar'"><a :href="'#/editar-usuario/' + row.data.id"> <i class="fas fa-edit"></i></span>
          <span v-else-if="cell.accesor === 'eliminar'"><button @click="muestraModal(row.data.id)"> <i class="fas fa-trash-alt"></i></span>
          <span v-else>{{ cell.value }}</span>
        </template>
      </ViuDatagrid>
      <div v-if="borrado == true">
          <ViuAlert status="success">Usuario eliminado correctamente</ViuAlert>
      </div>
      <div v-if="borrado == false">
          <ViuAlert status="warning">Error, este usuario no se puede borrar debido a que posee dispositivos</ViuAlert>
      </div>
        <div v-show="this.mostrar == true">
          <ViuModal title="Eliminar usuario" @close="ocultaModal()">¿Esta seguro de eliminar el usuario?
            <div class="botones">
              <ViuButton fill="solid" size="medium" @click="eliminar(id)">
                <template #text>Eliminar</template>
              </ViuButton>
              <ViuButton fill="solid" size="medium" @click="ocultaModal()">
                <template #text>Cancelar</template>
              </ViuButton>
            </div>
          </ViuModal>
        </div>
    </div>
  </TabsLayout>
</template>

<script>
import * as api from '$network/api.js';
import ViuDatagrid from 'viu/components/viu-datagrid/viu-datagrid.vue';
import TabsLayout from '$components/ui/tabs-layout.vue';
import pageMixin from '$mixins/page-mixin.js';
import ViuInput from 'viu/components/viu-input/viu-input.vue';
import ViuBox from 'viu/components/viu-box/viu-box.vue';
import ViuAlert from 'viu/components/viu-alert/viu-alert.vue';
import UiButton from '$components/ui/button.vue';
import ViuModal from 'viu/components/viu-modal/viu-modal.vue';
import ViuButton from 'viu/components/viu-button/viu-button.vue';

const columns = [
  { header: 'ID', accesor: 'id' },
  { header: 'Nombre', accesor: 'name' },
  { header: 'Apellidos', accesor: 'apellidos' },
  { header: 'Email', accesor: 'email' },
  { header: 'Teléfono', accesor: 'phone_number' },
  { header: 'DNI', accesor: 'documentoIdentidad' },
  { header: 'Dirección', accesor: 'direccion' },
  { header: 'Editar', accesor: 'editar' },
  { header: 'Eliminar', accesor: 'eliminar' }
];

const data = [
  {
    columns
  }
];
export default {
  name: 'ListarUsuarios',
  components: {
    TabsLayout,
    ViuDatagrid,
    ViuBox,
    UiButton,
    ViuInput,
    ViuAlert,
    ViuModal,
    ViuButton
  },
  mixins: [pageMixin],
  data: () => ({
    columns,
    borrado: 'nada',
    mostrar: false,
    id: ''
  }),

  methods: {
    async muestraModal(id) {
      this.mostrar = true;
      this.id = id;
    },

    async ocultaModal() {
      this.mostrar = false;
    },
    async eliminar(id) {
      const respuesta = await api.BorrarUsuario(id);
      this.borrado = respuesta.data;
      this.$refs.datos.fetchData();
      this.ocultaModal();
    }
  }
};
</script>
<style lang="scss">
.container {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 90vh;
}
.botones {
  margin-top: 7px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
</style>
