<template>
  <!-- eslint-disable -->
  <TabsLayout>
      <template>
        <div class="form">
          <h2 class="titulo">Editar Usuario</h2>
          <div class="container">
            <div class="formulario">
              <div class="input">
                <p>Nombre:</p>
                <InputText v-model="usuarios.name"></InputText>
              </div>
              <div class="input">
                <p>Email:</p>
                <InputText v-model="usuarios.email"></InputText>
              </div>
              <div class="input">
                <p>Teléfono:</p>
                <InputText v-model="usuarios.phone_number"></InputText>
              </div>
              <div class="input">
                <p>Avatar:</p>
                <InputText v-model="usuarios.avatar"></InputText>
              </div>
              <div class="input">
                <p>Apellidos:</p>
                <InputText v-model="usuarios.apellidos"></InputText>
              </div>
              <div class="input">
                <p>Fecha Nacimiento:</p>
                <InputText v-model="usuarios.fechaNacimiento"></InputText>
              </div>
              <div class="input">
                <p>Genero Legal:</p>
                <InputText v-model="usuarios.generoLegal"></InputText>
              </div>
              <div class="input">
                <p>Nacionalidad:</p>
                <InputText v-model="usuarios.nacionalidad"></InputText>
              </div>
              <div class="input">
                <p>Numero Cuenta Bancaria:</p>
                <InputText v-model="usuarios.numeroCuentaBancaria"></InputText>
              </div>
            </div>

            <div class="formulario">
              <div class="input">
                <p>DNI:</p>
                <InputText v-model="usuarios.documentoIdentidad"></InputText>
              </div>
              <div class="input">
                <p>Numero Seguridad Social:</p>
                <InputText v-model="usuarios.numeroSeguridadSocial"></InputText>
              </div>
              <div class="input">
                <p>Dirección:</p>
                <InputText v-model="usuarios.direccion"></InputText>
              </div>
              <div class="input">
                <p>Ciudad:</p>
                <InputText v-model="usuarios.ciudad"></InputText>
              </div>
              <div class="input">
                <p>Codigo Postal:</p>
                <InputText v-model="usuarios.codigoPostal"></InputText>
              </div>
              <div class="input">
                <p>Provincia:</p>
                <InputText v-model="usuarios.provincia"></InputText>
              </div>
              <div class="input">
                <p>País:</p>
                <InputText v-model="usuarios.pais"></InputText>
              </div>
              <div class="input">
                <p>Nombre Contacto Emergencia:</p>
                <InputText v-model="usuarios.nombreContactoEmergencia"></InputText>
              </div>
              <div class="input">
                <p>Teléfono Contacto Emergencia:</p>
                <InputText v-model="usuarios.telefonoContactoEmergencia"></InputText>
              </div>
            </div>
          </div>
           <UiButton @click.native="guardarDatos(usuarios.id)">Guardar datos</UiButton>
      <div v-if="this.editado == true">
        <ViuAlert status="success">Usuario añadido correctamente</ViuAlert>
      </div>
      <div v-if="this.nulo == false">
        <ViuAlert status="warning">Nombre, contraseña, email y teléfono son datos requeridos</ViuAlert>
      </div>
      <div v-if="this.numeros == false">
        <ViuAlert status="warning"
          >Los teléfonos y el código postal deben estar compuestos solo de números.</ViuAlert
        >
      </div>
      <div v-if="this.dniValido == false">
        <ViuAlert status="warning">DNI no válido.</ViuAlert>
      </div>
      <div v-if="this.fechaValida == false">
        <ViuAlert status="warning">Fecha no válida, formato:dd/mm/aa.</ViuAlert>
      </div>
          </div>
      </template>
    </div>
  </TabsLayout>
</template>

<script>
import ViuAlert from 'viu/components/viu-alert/viu-alert.vue';
import * as api from '$network/api.js';
import TabsLayout from '$components/ui/tabs-layout.vue';
import InputText from '$components/ui/input-text.vue';
import UiButton from '$components/ui/button.vue';
import pageMixin from '$mixins/page-mixin.js';

export default {
  name: 'EditarUsuario',
  components: {
    TabsLayout,
    InputText,
    ViuAlert,
    UiButton
  },
  mixins: [pageMixin],
  data: () => ({
    usuarios: [],
    editado: false,
    nulo: true,
    numeros: true,
    fechaValida: true,
    dniValido: true
  }),
  async mounted() {
    const respuesta = await api.ListarUsuario(this.$route.params.id);
    this.usuarios = respuesta.data.content;
    console.log(this.usuarios);
  },
  methods: {
    async comprobarNulos() {
      console.log(this.usuarios.password);
      if (
        this.usuarios.name == '' ||
        this.usuarios.phone_number == '' ||
        this.usuarios.email == ''
      ) {
        this.nulo = false;
      } else {
        this.nulo = true;
      }
    }, 
    async comprobarNumeros() {
      if (
        isNaN(this.usuarios.phone_number) == true ||
        isNaN(this.usuarios.codigoPostal) == true ||
        isNaN(this.usuarios.telefonoContactoEmergencia) == true
      ) {
        this.numeros = false;
      } else {
        this.numeros = true;
      }
    },
    async validarFecha() {
      let RegExPattern = /^\d{1,2}\/\d{1,2}\/\d{2,4}$/;
      if (
        this.usuarios.fechaNacimiento.match(RegExPattern) &&
        this.usuarios.fechaNacimiento != ''
      ) {
        this.fechaValida = true;
      } else {
        this.fechaValida = false;
      }
    },
    async validarDni() {
      let num;
      let letr;
      let letra;
      const expresion_regular_dni = /^\d{8}[a-zA-Z]$/;

      if (expresion_regular_dni.test(this.usuarios.documentoIdentidad) == true) {
        num = this.usuarios.documentoIdentidad.substr(
          0,
          this.usuarios.documentoIdentidad.length - 1
        );
        letr = this.usuarios.documentoIdentidad.substr(
          this.usuarios.documentoIdentidad.length - 1,
          1
        );
        num %= 23;
        letra = 'TRWAGMYFPDXBNJZSQVHLCKET';
        letra = letra.substring(num, num + 1);
        if (letra != letr.toUpperCase()) {
          this.dniValido = false;
        } else {
          this.dniValido = true;
        }
      } else {
        this.dniValido = false;
      }
    },
    async guardarDatos() {
      this.comprobarNulos();
      this.comprobarNumeros();
      this.validarFecha();
      this.validarDni();
      if (
        this.nulo == true &&
        this.numeros == true &&
        this.fechaValida == true &&
        this.dniValido == true
      ) {
        const { name } = this.usuarios;
        const { email } = this.usuarios;
        const { description } = this.usuarios;
        const { phone_number } = this.usuarios;
        const { avatar } = this.usuarios;
        const { apellidos } = this.usuarios;
        const { fechaNacimiento } = this.usuarios;
        const { generoLegal } = this.usuarios;
        const { nacionalidad } = this.usuarios;
        const { numeroCuentaBancaria } = this.usuarios;
        const { documentoIdentidad } = this.usuarios;
        const { numeroSeguridadSocial } = this.usuarios;
        const { direccion } = this.usuarios;
        const { ciudad } = this.usuarios;
        const { codigoPostal } = this.usuarios;
        const { provincia } = this.usuarios;
        const { pais } = this.usuarios;
        const { nombreContactoEmergencia } = this.usuarios;
        const { telefonoContactoEmergencia } = this.usuarios;

        await api.EditarUsuario(
          {
            name,
            email,
            description,
            phone_number,
            avatar,
            apellidos,
            fechaNacimiento,
            generoLegal,
            nacionalidad,
            numeroCuentaBancaria,
            documentoIdentidad,
            numeroSeguridadSocial,
            direccion,
            ciudad,
            codigoPostal,
            provincia,
            pais,
            nombreContactoEmergencia,
            telefonoContactoEmergencia
          },
          this.$route.params.id
        );
        this.editado = true;
      }
    }
  }
};
</script>
<style lang="scss">
.container {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  min-height: 60vh;
}

.formulario {
  margin-left: 10px;
  width: 30%;
  .input-text {
    width: 100%;
    margin-bottom: 16px;
    margin-top: 15px;
  }
  .input {
    align-items: center;
    display: flex;
    flex-flow: row;
  }
}

.viu-alert {
  margin-top: 10px;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form {
  .titulo {
    text-align: center;
  }
  .ui-button {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
</style>
