<template>
  <!-- eslint-disable -->
  <TabsLayout>
    <div class="container">
      <h2 class="titulo">Editar Propiedad</h2>
      <div class="contenedor">
        <template>
          <div class="form">
            <div class="input">
              <p>Nombre:</p>
              <InputText v-model="propiedad.nombre"></InputText>
            </div>

            <div class="input">
              <p>Propiedad:</p>
              <InputText v-model="propiedad.propiedad"></InputText>
            </div>
            <UiButton @click.native="guardarDatos()">Guardar datos</UiButton>
          </div>
          <div v-if="this.anyadido == true">
            <ViuAlert status="success">Propiedad editada correctamente</ViuAlert>
          </div>
        </template>
      </div>
    </div>
  </TabsLayout>
</template>

<script>
import * as api from '$network/api.js';
import TabsLayout from '$components/ui/tabs-layout.vue';
import InputText from '$components/ui/input-text.vue';
import UiButton from '$components/ui/button.vue';
import ViuAlert from 'viu/components/viu-alert/viu-alert.vue';
import pageMixin from '$mixins/page-mixin.js';

export default {
  name: 'EditarPropiedad',
  components: {
    TabsLayout,
    InputText,
    UiButton,
    ViuAlert
  },
  mixins: [pageMixin],
  data() {
    return {
      propiedad: [],
      anyadido: false
    };
  },
  async mounted() {
    const respuesta = await api.ListarPropiedad(this.$route.params.id);
    this.propiedad = respuesta.data.content;
    console.log(respuesta.data.content);
  },
  methods: {
    async guardarDatos() {
      const RegistroPropiedad = this.propiedad.propiedad;
      const RegistroNombre = this.propiedad.nombre;
      const RegistroDispositivoId = this.propiedad.dispositivoId;
      await api.EditarPropiedad(
        { RegistroPropiedad, RegistroNombre, RegistroDispositivoId },
        this.$route.params.id
      );
      this.anyadido = true;
    }
  }
};
</script>
<style lang="scss">
.container {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 100vh;

  .form {
    width: 370px;
  }

  .input {
    align-items: center;
    display: flex;
    flex-flow: row;
  }

  .viu-alert {
    margin-top: 10px;
  }

  .form {
    .input-text,
    .ui-button {
      width: 100%;
      margin-top: 10px;

      &.input-text {
        margin-bottom: 16px;
      }
    }
  }
}
</style>
