<template>
  <TabsLayout>
    <div class="container">
      <h1>Inventario usuarios y dispositivos</h1>
    </div>
  </TabsLayout>
</template>

<script>
import pageMixin from '$mixins/page-mixin.js';
import TabsLayout from '$components/ui/tabs-layout.vue';

export default {
  name: 'Dashboard',
  components: {
    TabsLayout
  },
  mixins: [pageMixin]
};
</script>
<style>
.container {
  text-align: center;
}
</style>
