<template>
  <!-- eslint-disable -->
  <TabsLayout>
    <div class="form">
      <h2 class="titulo">Añadir Usuario</h2>
      <div class="container">
        <div class="formulario">
          <InputText v-model="name" placeholder="Nombre"></InputText>
          <InputText v-model="email" placeholder="Email"></InputText>
          <InputText v-model="description" placeholder="Descripcion"></InputText>
          <InputText v-model="phone_number" placeholder="Teléfono"></InputText>
          <InputText v-model="avatar" placeholder="Imagen"></InputText>
          <InputText v-model="password" placeholder="Contraseña"></InputText>
          <InputText v-model="apellidos" placeholder="Apellidos"></InputText>
          <InputText v-model="fechaNacimiento" placeholder="Fecha Nacimiento"></InputText>
          <InputText v-model="generoLegal" placeholder="Genero Legal"></InputText>
          <InputText v-model="nacionalidad" placeholder="Nacionalidad"></InputText>
        </div>

        <div class="formulario">
          <InputText
            v-model="numeroCuentaBancaria"
            placeholder="Numero Cuenta Bancaria"
          ></InputText>
          <InputText v-model="documentoIdentidad" placeholder="DNI"></InputText>
          <InputText
            v-model="numeroSeguridadSocial"
            placeholder="Numero Seguridad Social"
          ></InputText>
          <InputText v-model="direccion" placeholder="Direccion"></InputText>
          <InputText v-model="ciudad" placeholder="Ciudad"></InputText>
          <InputText v-model="codigoPostal" placeholder="Código Postal"></InputText>
          <InputText v-model="provincia" placeholder="Provincia"></InputText>
          <InputText v-model="pais" placeholder="País"></InputText>
          <InputText
            v-model="nombreContactoEmergencia"
            placeholder="Nombre Contacto Emergencia"
          ></InputText>
          <InputText
            v-model="telefonoContactoEmergencia"
            placeholder="Número Contacto Emergencia"
          ></InputText>
        </div>
      </div>
      <UiButton @click.native="guardarUsuario()">Guardar Usuario</UiButton>

      <div v-if="this.anyadido == true">
        <ViuAlert status="success">Usuario añadido correctamente</ViuAlert>
      </div>
      <div v-if="this.nulo == false">
        <ViuAlert status="warning">Nombre, contraseña, email y teléfono son datos requeridos</ViuAlert>
      </div>
      <div v-if="this.numeros == false">
        <ViuAlert status="warning"
          >Los teléfonos y el código postal deben estar compuestos solo de números.</ViuAlert
        >
      </div>
      <div v-if="this.dniValido == false">
        <ViuAlert status="warning">DNI no válido.</ViuAlert>
      </div>
      <div v-if="this.fechaValida == false">
        <ViuAlert status="warning">Fecha no válida, formato:dd/mm/aa.</ViuAlert>
      </div>
    </div>
  </TabsLayout>
</template>

<script>
import ViuAlert from 'viu/components/viu-alert/viu-alert.vue';
import * as api from '$network/api.js';
import TabsLayout from '$components/ui/tabs-layout.vue';
import InputText from '$components/ui/input-text.vue';
import UiButton from '$components/ui/button.vue';
import pageMixin from '$mixins/page-mixin.js';

export default {
  name: 'AnyadirUsuario',
  components: {
    TabsLayout,
    InputText,
    UiButton,
    ViuAlert
  },
  mixins: [pageMixin],
  data: () => ({
    name: '',
    email: '',
    description: '',
    phone_number: '',
    avatar: '',
    password: '',
    remember_token: '',
    apellidos: '',
    fechaNacimiento: '',
    generoLegal: '',
    nacionalidad: '',
    numeroCuentaBancaria: '',
    documentoIdentidad: '',
    numeroSeguridadSocial: '',
    direccion: '',
    ciudad: '',
    codigoPostal: '',
    provincia: '',
    pais: '',
    nombreContactoEmergencia: '',
    telefonoContactoEmergencia: '',
    anyadido: false,
    nulo: true,
    numeros: true,
    fechaValida: true,
    dniValido: true
  }),
  methods: {
    async comprobarNulos() {
      if ((this.name == '' && this.password == '' && this.phone_number == '' && this.email == '')) {
        this.nulo = false;
      } else {
        this.nulo = true;
      }
    },
    async comprobarNumeros() {
      if (
        isNaN(this.phone_number) == true ||
        isNaN(this.codigoPostal) == true ||
        isNaN(this.telefonoContactoEmergencia) == true
      ) {
        this.numeros = false;
      } else {
        this.numeros = true;
      }
    },
    async validarFecha() {
      const RegExPattern = /^\d{1,2}\/\d{1,2}\/\d{2,4}$/;
      if (
        this.fechaNacimiento.match(RegExPattern) && this.fechaNacimiento != '') {
        this.fechaValida = true;
      } else {
        this.fechaValida = false;
      }
    },
    async validarDni() {
      let num;
      let letr;
      let letra;
      const expresion_regular_dni = /^\d{8}[a-zA-Z]$/;

      if (expresion_regular_dni.test(this.documentoIdentidad) == true) {
        num = this.documentoIdentidad.substr(0, this.documentoIdentidad.length - 1);
        letr = this.documentoIdentidad.substr(this.documentoIdentidad.length - 1, 1);
        num %= 23;
        letra = 'TRWAGMYFPDXBNJZSQVHLCKET';
        letra = letra.substring(num, num + 1);
        if (letra != letr.toUpperCase()) {
          this.dniValido = false;
        } else {
          this.dniValido = true;
        }
      } else {
        this.dniValido = false;
      }
    },
    async guardarUsuario() {
      const {
        name,
        email,
        description,
        phone_number,
        avatar,
        password,
        remember_token,
        apellidos,
        fechaNacimiento,
        generoLegal,
        nacionalidad,
        numeroCuentaBancaria,
        documentoIdentidad,
        numeroSeguridadSocial,
        direccion,
        ciudad,
        codigoPostal,
        provincia,
        pais,
        nombreContactoEmergencia,
        telefonoContactoEmergencia
      } = this;
      this.comprobarNulos();
      this.comprobarNumeros();
      this.validarFecha();
      this.validarDni();
      if (
        this.nulo == true &&
        this.numeros == true &&
        this.fechaValida == true &&
        this.dniValido == true
      ) {
        await api.AnyadirUsuario({
          name,
          email,
          description,
          phone_number,
          avatar,
          password,
          remember_token,
          apellidos,
          fechaNacimiento,
          generoLegal,
          nacionalidad,
          numeroCuentaBancaria,
          documentoIdentidad,
          numeroSeguridadSocial,
          direccion,
          ciudad,
          codigoPostal,
          provincia,
          pais,
          nombreContactoEmergencia,
          telefonoContactoEmergencia
        });
        this.anyadido = true;
      }
    }
  }
};
</script>

<style lang="scss">
.container {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  min-height: 60vh;
}

.formulario {
  margin-left: 10px;
  width: 30%;
  .input-text {
    width: 100%;
    margin-bottom: 16px;
  }
}

.viu-alert {
  margin-top: 10px;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form {
  .titulo {
    text-align: center;
  }
  .ui-button {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
</style>
