<template>
  <div class="login">
    <div class="logo">
      <img :src="logo" alt="Neuro360" class="logo" />
    </div>
    <div class="form">
      <InputText v-model="user" placeholder="Usuario" @enter="login"></InputText>
      <InputText v-model="password" placeholder="Contraseña" password @enter="login"></InputText>
      <UiButton @click.native="login">Login</UiButton>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import * as api from '$network/api.js';
import logo from '$resources/images/logo.png';
import InputText from '$components/ui/input-text.vue';
import UiButton from '$components/ui/button.vue';

export default {
  name: 'Login',
  components: {
    InputText,
    UiButton
  },
  data: () => ({
    user: '',
    password: '',
    logo
  }),
  beforeMount() {
    this.setNavigationMenuStatus(false);
  },
  methods: {
    ...mapMutations('ui', ['setNavigationMenuStatus']),
    ...mapMutations('auth', ['setLoggedStatus']),
    ...mapMutations('common', ['setUser']),
    async login() {
      const { user, password, setLoggedStatus, setUser } = this;

      if (user.length === 0 || password.length === 0) {
        this.$notify.error('El usuario o la contraseña estan vacios.');
        return;
      }

      try {
        const response = await api.login({ identity: user, password });
        setUser(response.data.content.user);
        setLoggedStatus(true);
        this.$router.push('/');
      } catch (error) {
        if (error.response.status === 400) {
          this.$router.push('/');
          return;
        }

        if (error.response.status === 429) {
          this.$notify.error(
            'Demasiados intentos de login consecutivos. Espere 1 minuto o contacte con el administrador'
          );
          return;
        }

        this.$notify.error('El usuario o la contraseña no son correctas.');
      }
    }
  }
};
</script>

<style lang="scss">
.login {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 100vh;

  .logo,
  .form {
    width: 370px;
  }

  .logo {
    img {
      margin-top: -165px;
    }
  }

  .form {
    .input-text,
    .ui-button {
      width: 100%;

      &.input-text {
        margin-bottom: 16px;
      }
    }
  }
}
</style>
