<template>
  <!-- eslint-disable -->
  <TabsLayout>
    <p>Componente DispositivosPage</p>
    <div>
      <listar-dispositivos
        @mostrarEstado="mostrar"
        @dispositivo="modificardispositivo"
        v-if="estado == 'listar'"
      ></listar-dispositivos>

      <anyadir-dispositivos
        @mostrarEstado="mostrar"
        v-else-if="estado == 'anyadir'"
      ></anyadir-dispositivos>

      <modificar-dispositivos
        :dispositivos="dispositivo"
        @mostrarEstado="mostrar"
        v-else
      ></modificar-dispositivos>
    </div>
  </TabsLayout>
</template>

<script>
export default {
  name: 'DispositivosPage',
  data() {
    return {
      estado: 'listar',
      dispositivo: ''
    };
  },
  methods: {
    mostrar(valor) {
      this.estado = valor;
    },
    modificardispositivo(valor) {
      this.dispositivo = valor;
    }
  }
};
</script>
